.banner-home {
  position: relative;
}
.name-home {
  position: absolute;
  top: 39%;
  left: 25%;
  color: white;
  font-weight: 500;
  font-size: 48px;
  margin: 0px;
}
.img-banner {
  border-radius: 10px;
  width: 100%;
}
.img-banner-mobile {
  display: none;
}
.product-section {
  max-width: 1440px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .product-section {
    width: 90%;
  }
  .banner-home img {
    width: 100%;
  }
  .img-banner {
    display: none;
  }
  .img-banner-mobile {
    display: inline;
    border-radius: 10px;
    width: 100%;
  }
  .name-home {
    top: 25%;
    left: 13%;
    font-size: 24px;
    font-weight: 500;
  }
}
