.card-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: #f6f6f6;
    padding-top: 36px;
    border-radius: 20px;
    gap: 50px;
    margin-top: 40px;
    padding-bottom: 36px;
  }
  .card {
    position: relative;
  }
  .card img {
    width: 400px;
    height: 340px;
    border-radius: 8px;
  }
  .card-content {
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    bottom: 10px;
    left: 10px;
    color: white;
    max-width: 300px;
  }

  @media screen and (max-width: 768px) {
    .card img {
      width: 330px;
    }
  }